biopandas @ file:///home/conda/feedstock_root/build_artifacts/biopandas_1596868292228/work
biopython==1.74
certifi==2019.9.11
joblib==0.13.2
mkl-fft==1.0.14
mkl-random==1.1.0
mkl-service==2.3.0
numpy==1.17.2
pandas==1.2.1
python-dateutil @ file:///home/ktietz/src/ci/python-dateutil_1611928101742/work
pytz @ file:///tmp/build/80754af9/pytz_1612215392582/work
PyYAML==5.4.1
scipy==1.3.1
six==1.12.0
